/* 全体 */

:root {
  --theme-color: #00a0a0;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
}


/* 見出し */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}


/* リンク */

a {
  color: blue;
}


/* リスト */

ul {
  list-style: none;
}
li:before {
  content: "⚪︎ ";
  color: var(--theme-color);
}

#Works {
  display: flex;
  gap: 15px;
  list-style: none;

  overflow-x: auto;

  scroll-snap-type: x mandatory;
  padding-bottom: 8px;
}

.worksList {
  background-color: #00a0a022;
  width: 300px;
  max-width: 75%;

  flex-shrink: 0;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
}

.worksList img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
  margin-top: 5px;
}



/* 表 */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  width: 70%;
  margin-bottom: 5px;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
  width: 30%;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
span {
  white-space: nowrap;
}
